body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: #36263b;
    font-family: Varela Round;
}

#maincontainer {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    background: rgb(2,0,36);
    background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 55%, rgba(252,0,255,1) 100%);
}

#sidebar {
    font-size: 60;
    background-color: #42424270;
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 5px #18181852;
    z-index: 1;
}

#chatbox * {
    background-color: #36263b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: Varela Round;
}

#chatbox #messageTextbox {
    margin: 5px;
    min-height: calc(100% - 20px);
    resize: none;
    width: calc(100% - 120px);
    font-size: 25px;
}

#chatbox button {
    height: calc(100% - 20px);
    margin: 5px;
    aspect-ratio: 1 / 1;
    font-size: 25px;
}

#options {
    width: 100%;
    height: 60px;
    display: grid;
    background-color: #afafaf2d;
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 5px #18181852;
    border-radius: 0 0 10px 10px;
    grid-template-columns: 60px 60px 60px auto 60px;
}

.option {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 7px;
    transition-duration: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

i {
    transition: all 0.1s;
}

.option:hover {
    background-color: #ffffff8f;
}

#option-settings:hover .fa-gear {
    transform: rotate(40deg);
    font-size: 35px;
}

#option-settings {
    grid-column: 5;
}

#option-remove:hover .fa-trash {
    color: rgb(196, 0, 0);
    font-size: 35px;
}

#mainchat {
    display: grid;
    grid-template-rows: 92% 8% ;
}

#chatwindow {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

#chatbox {
    background-color: #42424270;
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 5px #18181852;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#messagecontainer {
    margin: 7px;
    background-color: rgb(148, 33, 255);
    min-width: 250px;
    display: inline-block;
    max-width: 70%;
    word-break: break-all;
    padding: 5px;
    border-radius: 7px;
}

.maintext {
    color: #fff;
    font-size: 23px;
}

.subtext {
    color: #a0a0a0;
    font-size: 15px;
}

#timecode {
    float: right;
}

#messagecontainer.self {
    margin: 7px;
    background-color: rgb(182, 104, 255);
    min-width: 250px;
    display: inline-block;
    max-width: 70%;
    word-break: break-all;
    padding: 5px;
    border-radius: 7px;
    justify-self: right;
}

#messageoverlapper {
    width: 100%;
    display: flex;
}

#popupcontainer {
    background-color: #0000008a;
    position: absolute;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    visibility: hidden;
    z-index: 10;
    transition: all 0.3s;
    opacity: 0;
    display: flex;
}



.formcontainer {
    position: absolute;
    height: 400px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #a0a0a08a;
    border: 2px solid #a0a0a0;
    backdrop-filter: blur(25px);
    box-shadow: 5px 5px 5px #18181885;
    visibility: hidden;
    border-radius: 10px;
    transition: 0.5s all;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.formcontainer.active {
    opacity: 1;
    visibility: visible;
}
#popupcontainer.active {
    opacity: 1;
    visibility: visible;
}

#forminput {
    height: 50px;
    width: calc(100% - 40px);
    border-radius: 10px;
    opacity: 1;
    border: none;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    margin-bottom: 120px;
}

.formlargetext {
    position: fixed;
    top: 0;
    margin-top: calc(1em + 65px);
    font-size: 30px;
    opacity: 1;
    color: #ffffff;
    font-weight: bolder;
}

#formsubmit {
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 40px;
    background-color: #ca1bffa4;
    color: white;
    font-size: 20px;
}

#formexit {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -15px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    height: 30px;
    background-color: #ca1bff;
}

.chatidcontainer {
    background-color: #ca1bff;
    width: 100%;
    height: 30px;
    font-size: 25px;
}